<!DOCTYPE html>
<html lang="en">
    
<head>
    
    <meta charset="UTF-8">
    <link rel="icon" href="{{ url_for( 'static', filename='images/favicon-notebook.ico')}}">
    <link rel="stylesheet" href="{{ url_for( 'static', filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{ url_for( 'static', filename='css/bootstrap-grid.min.css')}}">
    <link rel="stylesheet" href="{{ url_for( 'static', filename='css/styling.css')}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minote</title>
</head>
<body style="background-color: #ffffff;">
    <nav class="navbar navbar-expand-sm text-center" style="background-color: #00B8D4;">
        <span class="navbar-brand" style="color: #ffffff;">Minote <span class="logo"><img style="width: 20px; height: 25px;" src="{{ url_for('static', filename='images/pen.ico') }}" alt=""></span> </span>
        {% if user.is_authenticated %}
        <ul class="nav collapse ml-auto">
            <li class="nav-item">
                <a href="/notes" class="nav-link nav-ittem">Notes</a>
            </li>
            <li class="nav-item">
                <a href="/journal" class="nav-link nav-ittem">Journal</a>
            </li>
            <li class="nav-item">
                <a href="/notes/user-profile" class="nav-link nav-ittem">{{ current_user.user_name }}</a>
            </li>
            <li class="nav-item">
                <a href="/notes/logout" class="nav-link nav-ittem">Logout</a>
            </li>
            </ul>
        {% else %}
        <ul class="nav collapse ml-auto">
            <li class="ml-auto nav-item">
                <a href="/notes/sign-up" class="nav-link nav-ittem">Create account</a>
            </li>
            <li class="nav-item">
                <a href="/notes/login" class="nav-link nav-ittem">Login</a>
            </li>
           
        </ul>
        {% endif %}
    </nav>
<div class="container center-block" style="max-width: 40%; min-width: 500px; margin-top: 10%;">
<div class="page-header text-center" >
    <h1 class="text-dark" style="font-size: 70px; font-family: Arial, Helvetica, sans-serif;">404 </h1>
    <h4 class="text-secondary">Page not found</h4>
    <h3 class="text-white" style="font-size: medium;"><a href="/notes" class="card-link text-primary"> &larr; Back to home</a></h3>
</div>
</div>
<script src="{{ url_for( 'static', filename='js/js/bootstrap.min.js') }}"></script>
<script src="{{ url_for( 'static', filename='js/src/modal.js') }}"></script>
<script src="{{ url_for( 'static', filename='js/src/alert.js') }}"></script>
<script src="{{ url_for( 'static', filename='js/src/popover.js') }}"></script>
<script src="{{ url_for( 'static', filename='js/src/collapse.js') }}"></script>
<script src="{{ url_for( 'static', filename='js/src/button.js') }}"></script>
<script src="{{ url_for( 'static', filename='js/src/carousel.js') }}"></script>
<script src="{{ url_for( 'static', filename='js/note.js') }}"></script>
<script src="{{ url_for( 'static', filename='js/jquery/jquery-2.2.4.min.js') }}"></script>
</body>
</html>
</body>