{% extends 'index.html' %}
{% block content %}
<div class="container my-5">
    <div class="row">
        <div class="col-sm-12 col-md-6">
            <div class="page-header mb-4 ">
                <h3 class="header text-center">Add note</h3>
            </div>    
            <div class="card mx-4">
                <div class="form-group m-4">
                    <form method="POST">
                        <label for="title" class="mt-2 ">Title</label>
                        <textarea name="title" class="form-control mb-2" style="resize: none; height: 38px;background-color: rgb(224, 247, 245);"></textarea>
                        <label for="category">Category</label>
                        <select placeholder="Choose a category" class="form-control dropdown-toggler mb-3 mt-2" name="cats" id="category" aria-selected="false">
                            <option class="dropdown-item"></option>
                            <option class="dropdown-item" value="Monday">Monday</option>
                            <option class="dropdown-item" value="Tuesday">Tuesday</option>
                            <option class="dropdown-item" value="Wednesday">Wednesday</option>
                            <option class="dropdown-item" value="Thursday">Thursday</option>
                            <option class="dropdown-item" value="Friday">Friday</option> 
                        </select>
                        <label for="text-data" class="mt-2">Note</label>
                        <textarea name="text-data" style="resize: none; height: 58px;background-color: rgb(224, 247, 245)" class="form-control" autocomplete="on" autocapitalize="on"></textarea>
                        <button type="submit" class="btn btn-info mt-3">Save</button>
                    </form>
                </div>
            </div>
        </div>
    <div class="col-sm-12 col-md-6">
    <div class="page-header">
        <h3 class="header text-center">Notes</h3>
    </div>    
    <div class="card-group-horizontal" id="notes">
            {% for note in user.notes %}    
            {% if note %}
            <div class="card mt-4 mb-2">
                <div class="card-header font-weight-bold" style="font-size: 18px;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;"> {{ note.title }} <span style="font-size: 15px; float: right;" class="header lead"> {{ note.date }} </span></div><br>
                <div class="card-text mb-4 mx-3"> {{ note.text_data }} </div>
                <div class="card-text font-small mb-4 mx-3 lead"> {{ note.category }} </div>
                <div class="card-body"><button type="button" class="btn btn-info" onClick="deleteNote({{ note.id }})">Delete</button></div>
            </div>
            {% else %}
            <div class="header">You currently have no notes</div>
            {% endif %}
            {% endfor %}
    </div>
    </div>

    
    </div>
</div>
{% endblock %}